<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form action="" method="post">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" name="name" required></td>
        </tr>
        <tr>
            <td>DoB</td>
            <td><label>
                <input type="text" name="dob" required>
            </label></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><label>
                <input type="text" name="password" required>
            </label></td>
        </tr>
        <tr>
            <td></td>
            <td><button type="submit">Dang ki</button></td>
        </tr>
    </table>
</form>
</body>
</html>